.modalContentTextContainer {
  display: flex;
  font-size: 22px;
}

.modalContentText {
  margin-left: 5px;
  color: grey;
}

.modalContentInputLabel {
  margin-right: 5px;
  color: grey;
  font-size: 20px;
}

.modalContentInput {
  height: 27px;
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(124, 124, 124, 0.5);
  border-radius: 5px;
  font-size: 15px;
  color: rgb(103, 103, 103);
}

.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.modalCancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  background-color: grey;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.modalSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgb(30, 106, 211);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
