.btnContainer {
  width: 595px;
  display: flex;
  justify-content: space-around;

  >button {
    border: 0;
    background-color: white;
    color: rgb(68, 255, 47);
    cursor: pointer;
    font-size: 70px;
  }

  >button:last-child {
    color: rgb(255, 64, 47);
  }
  
  >button.disabled {
    pointer-events: none;
  }
}
