* {
  margin: 0;
  padding: 0;
}

.MainDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.AppDiv {
  width: 600px;
}

.container {
  height: 500px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}


