.select {
  height: 55px;
  width: 300px;
  font-size: 30px;
  border-radius: 5px 5px 5px 5px;
  color: rgb(81, 81, 81);
  border: 1px solid rgba(138, 138, 138, 0.5);
}

.option {
  text-align: center;
}
